{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

    <h1>Bienvenue <b>{{ user.username }}</b> </h1>
    <a href="{{ url('fos_user_profile_edit') }}" class="button dark"><i class="fa fa-pencil"></i> Éditer</a><br><br>

    <p>Type de compte :
        {% if user.hasRole('ROLE_ADMIN') or user.hasRole('ROLE_SUPER_ADMIN') %}
            Administrateur
        {%  elseif user.cameras.length != 0 %}
            Professionnel
        {%  else %}
            Utilisateur
        {% endif %}
    </p>

    <p>{{ 'profile.show.email'|trans }} : {{ user.email }}</p>

    <br>
    <h1>Historique des votes</h1>

    <ul class="medias">
        {% for vote in user.votes %}
            <li class="media">
                {% include 'components/block/media.html.twig' with {'media': vote.media, 'popup': false} %}
                {% include 'components/block/vote.count.html.twig' with {'media': vote.media} %}
                {% include 'components/block/vote.button.html.twig' with {'media': vote.media} %}
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock fos_user_content %}
