@import "_variables.scss";

/* The left-collapsing sidebar */

.sidebar-left-collapse {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $dark-color2;
  width: $menu-width;
  height: 100%;
  padding: 20px 0;
  > a {
    display: block;
    text-decoration: none;
    width: 122px;
    height: 122px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: normal;
    line-height: 2.6;
    border-radius: 50%;
    background-color: $dark-color1;
  }
  .sidebar-links {
    margin: 30px auto;
  }

  .bottom {
    width: $menu-width;
    text-align: center;
    position: fixed;
    bottom: 25px;

    p {
      color: #ffffff;
    }



      a.connect {
        background-color: #FFFFFF;
        color: $dark-color1;
        padding: 6px 10px;
        text-decoration: none;
        display: inline-block;
        margin: 5px 0;
        width: 70%;
        font-weight: bold;

        &:hover {
          color: #FFFFFF;
          background-color: $dark-color1;
        }
      }
  }
}

.sidebar-links div {
  > a {
    display: block;
    text-decoration: none;
    margin: 0 auto 5px auto;
    padding: 10px 0 10px 5px;
    background-color: $dark-color3;
    text-align: left;
    color: #b3bcc5;
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    border-left-width: 2px;
    border-left-style: solid;
  }
  &.selected > a {
    background-color: #ffffff;
    color: #565d63;
    line-height: 2.3;
    margin: 0;
  }
  > a i.fa {
    position: relative;
    font-size: 20px;
    top: 3px;
    width: 40px;
    text-align: center;
  }
  ul.sub-links {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0 0 0 30px;
    color: #b3bcc5;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    transition: 0.4s;
  }
  &.selected ul.sub-links {
    max-height: 150px;
    padding: 12px 0 12px 30px;
  }
  .sub-links a {
    text-decoration: none;
    color: #b3bcc5;
    display: block;
    text-align: left;
  }
  &.link-blue > a {
    border-color: $blue-color;
    i.fa {
      color: $blue-color;
    }
  }
  &.link-red > a {
    border-color: $red-color;
    i.fa {
      color: $red-color;
    }
  }
  &.link-yellow > a {
    border-color: $yellow-color;
    i.fa {
      color: $yellow-color;
    }
  }
  &.link-green > a {
    border-color: $green-color;
    i.fa {
      color: $green-color;
    }
  }
}

/* Link Colors */

/* Making the sidebar responsive */

@media (max-width: 900px) {
  .main-content {
    max-width: none;
    padding: 70px 20px;
    margin: 0 0 40px;
  }
  .sidebar-left-collapse {
    width: auto;
    height: auto;
    position: static;
    padding: 20px 0 0;
    .sidebar-links {
      text-align: center;
      margin: 20px auto 0;
    }
  }
  .sidebar-links div {
    display: inline-block;
    width: 100px;
    > a {
      text-align: center;
      margin: 0;
      padding: 10px 0;
      border-left: none;
      border-top-width: 2px;
      border-top-style: solid;
      i.fa {
        display: block;
        margin: 0 auto 5px;
      }
    }
    ul.sub-links {
      display: none;
    }
    &.selected .sub-links {
      display: block;
      position: absolute;
      text-align: center;
      width: auto;
      left: 0;
      right: 0;
      li {
        display: inline-block;
      }
      a {
        display: inline-block;
        margin-right: 20px;
        font-size: 13px;
        color: #748290;
      }
    }
  }
}

/* Smartphone version */

@media (max-width: 450px) {
  .main-content {
    padding: 90px 20px;
  }
  .sidebar-left-collapse {
    padding: 20px 0;
    .sidebar-links {
      text-align: center;
      margin: 20px auto 0;
      position: relative;
    }
  }
  .sidebar-links div {
    display: block;
    width: 240px;
    margin: 0 auto 5px;
    > a {
      text-align: left;
      padding: 10px 25px;
      vertical-align: middle;
      border-top: none;
      border-left-width: 2px;
      border-left-style: solid;
      i.fa {
        display: inline-block;
        font-size: 20px;
        width: 20px;
        margin: 0 20px 0 0;
      }
    }
    &.selected .sub-links {
      bottom: -90px;
    }
  }
}

/*	Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

body {
  margin: 0;
  padding: 0;
}