@import "_variables.scss";
@import "_grid.scss";
@import "_font-awesome.scss";

a {
  text-decoration: none;
}

nav {
  border-bottom: 2px solid $blue-color;
  width: 100%;

  ul {
    margin: 0;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    li {
      display: inline-block;
      list-style: none;


      &.titre {
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  a {
    color: $dark-color1;
  }
}

header {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  background-color: $blue-color;
  padding: 20px;
  color: #ffffff;
  margin-top: 25px;
  box-sizing: border-box;
  
  a {
    font-weight: bold;
    color: #ffffff;
  }
}

section {
  width: 100%;
  padding: 10px 15%;
  box-sizing: border-box;
  
  h1 {
    color: $dark-color1;
    border: none;
    text-transform: capitalize;
  }

  &#partenaires {
    background-color: $blue-color;

    h1 {
      color: #fff;
    }

    a {
      color: #fff;
    }
  }

  &#sous-menu {
    background-color: $dark-color3;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;

    span {
      padding: 10px;
    }

    a {
      color: #fff;
    }
  }
}

.links {
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 250px;
    margin: 10px;

    a {
      padding: 15px;
      color: #FFFFFF;
      display: block;
      text-decoration: none;
    }

    i.fa {
      font-size: 2.5em;
      margin-bottom: 8px;
    }

    b {
      text-transform: uppercase;
    }

    &.blue {
      background-color: $blue-color;
    }

    &.yellow {
      background-color: $yellow-color;
    }

    &.green {
      background-color: $green-color;
    }
  }
}

footer {
  background-color: $dark-color2;
  color: #FFFFFF;
  text-align: center;
  padding: 15px;

  a {
    color: #fff;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}