@import "_variables.scss";
@import "_grid.scss";
@import "_menu.scss";
@import "_font-awesome.scss";
@import "_magnific-popup.scss";

* {
  font-family: Arial;
}

/* The main content */

div#content {
  padding-top: 20px;
  margin: 0 50px 0 ($menu-width + 50px);

  img {
    max-width: 100%;
  }
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 3px solid #222222;
  color: #222222;
  width: 100%;
  margin-bottom: 30px;
}

ul.cameras {
  margin: 0;
  padding: 0;

  li.camera {
    list-style: none;
    width: 360px;
    display: inline-block;
    padding: 15px;

    i.fa-circle {
      float: right;

      &.stream-on {
        color: $red-color;
      }
    }

    i.fa-lock {
      float: right;
    }

    img {
      width: 100%;
    }

    h2 {
      margin: 0;
      font-size: 1.2em;
      display: inline-block;
    }

    a {
      text-decoration: none;
      color: $dark-color2;
      
      &:hover {
        color: $dark-color1;
      }
    }

    &:hover {
      img {
        opacity: 0.7;
      }
    }
  }
}

ul.medias {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  li.media {
    list-style: none;
    width: 320px;
    display: inline-block;
    padding: 10px;

    img {
      width: 100%;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      img {
        opacity: 0.7;
      }
    }
  }
}

.lemedia {
  text-align: center;

  img {
    max-width: 90%;
    max-height: 600px;
  }
}

.streaming {
  text-align: center;
  width: 100%;

  img {
    max-width: 100%;
  }
}

.viewer {
  float: right;
  margin: 0 8px;
  display: inline-block;
}

a.vote-me {
  color: $dark-color3;
  margin-right: 3px;
  cursor: pointer;
  float: right;

  &:hover {
    opacity: 0.7;
  }

  i.fa-star {
    color: $yellow-color;
  }

  i.fa-star-o {
    color: $dark-color3;
  }
}

.vote-count, .vote-label {
  float: right;
  vertical-align: baseline;
}

.vote-label {
  padding-top: 7px;
  margin-left: 4px;
}

form[method="post"] {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin: auto;
  padding-top: 15px;

  input:not([type="checkbox"]), textarea, button, a {
    width: 90%;
    margin: 0;
    box-sizing: border-box;
    display: block;
    margin-bottom: 15px;
  }

  label.margin {
    margin-bottom: 15px;
  }

  input[type="checkbox"] {
    display: inline-block;
  }

  textarea {
    height: 80px;
  }

  button[type="submit"], input[type="submit"], a.link  {
    background-color: $dark-color1;
    color: #ffffff;
    padding: 10px 10px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  a.link {
    text-align: center;
    font-size: 0.8em;
    padding: 5px 8px;
    text-transform: none;
    text-decoration: none;
    width: 90%;
  }
}

a.button {
  background-color: #ffffff;
  color: $dark-color1;
  text-align: center;
  font-size: 0.8em;
  padding: 5px 8px;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;

  &.dark {
    background-color: $dark-color1;
    color: #ffffff;
  }
}

.media-links {
  text-align: center;
  width: 100%;
}
.alert {
  text-align: center;
  padding: 8px;

  &.alert-success {
    background-color: $green-color;
  }

  &.alert-error {
    background-color: $red-color;
  }
}

input#btn-delete {
  background-color: $red-color;
}