<a class="vote-me" data-media="{{ media.id }}" title="Cliquez pour voter / dévoter" data-votable="{% if media_service.check(media) %}false{% else %}true{% endif %}">
  {% if media_service.check(media) %}
  <i class="fa fa-star voted"></i>
  {% else %}
    <i class="fa fa-star-o"></i>
  {% endif %}
</a>
