<a class="vote-me" data-media="{{ media.id }}"  data-votable="{% if media_service.check(media) %}false{% else %}true{% endif %}">
  {% if media_service.check(media) %}
  <i class="fa fa-star voted tippy" title="Cliquez pour annuler le vote"></i>
  {% else %}
    <i class="fa fa-star-o tippy" title="Cliquez pour voter"></i>
  {% endif %}
</a>
