{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
      {% include 'components/block/camera.html.twig' with {'camera': object} %}
    </div>
    <style type="text/css">
        img {
            max-width: 220px;
            max-height: 180px;
        }
    </style>
{% endblock %}
