{% extends 'base.html.twig' %}

{% block body %}

  {% if is_granted('ROLE_USER') and app.user.cameras|length != 0 %}
    <h1>Mes caméras</h1>
    <ul class="cameras">
      {% for camera in cameras %}
        {% if app.user in camera.utilisateurs %}
          <li class="camera">
            {% include 'components/block/camera.html.twig' with {'camera': camera} %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <h1>Caméras publiques</h1>
    {% if cameras is empty %}
        Il n'y a pas de caméra.
    {% else %}
        <ul class="cameras">
            {% for camera in cameras %}
                {% if camera.etat %}
                    <li class="camera">
                        {% include 'components/block/camera.html.twig' with {'camera': camera} %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
