{% extends 'base.html.twig' %}

{% block body %}
    <h1>Caméras publiques</h1>

    <ul class="cameras">
        {%  for camera in cameras %}
           <li class="camera"><a href="{{ url('camera', {'id': camera.id}) }}"><img src="{{ asset(camera.getWebPath) }}" alt="{{ camera.nom }}"><h2>{{ camera.nom }}</h2></a></li>
        {% endfor %}
    </ul>
{% endblock %}
