{% extends 'base.html.twig' %}

{% block body %}
  <nav>

  </nav>

  <header>

  </header>

  <section class="links">
    <ul>
      <li><a href="{{ url('cameras') }}">Liste des caméras</a></li>
    </ul>
  </section>
{% endblock %}
