{% extends 'base.html.twig' %}

{% block body %}

  <h1>
    {% if app.request.get('_route') == 'medias_populaires' %}
      Médias populaires
    {% elseif app.request.get('_route') == 'medias_recents'%}
      Médias récents
    {% elseif app.request.get('_route') == 'medias_photo_jour'%}
      Photos du jour
    {% endif %}
  </h1>

  <ul class="medias">
    {% for media in medias %}
      <li class="media">
        {% include 'components/block/media.html.twig' with {'media': media} %}
        {% include 'components/block/vote.count.html.twig' with {'media': media} %}
        {% include 'components/block/vote.button.html.twig' with {'media': media} %}
      </li>
    {% endfor %}
  </ul>

  <button class="btn" data-clipboard-text="  <iframe src='{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}' height='200px' width='400px'></iframe>">
    Partager par iframe
  </button>

{% endblock %}

{% block javascripts %}
  {% include 'components/block/vote.js.html.twig' %}
{% endblock %}
