{% extends 'base.html.twig' %}

{% block body %}

    <h1>Médias
        {% if app.request.get('_route') == 'populaires' %}
            populaires
        {% elseif app.request.get('_route') == 'recents'%}
            récents
        {% endif %}
    </h1>

    <ul class="medias">
        {%  for media in medias %}
            <li class="media"><a href="{{ url('media', {'id': media.id}) }}"><img src="" alt="Photo / Video de {{ media.camera.nom }}"></a></li>
            <!--+gerer les viceos + pour le lien, cam + mdeia id ?-->
        {% endfor %}
    </ul>
{% endblock %}
