{% extends 'base.html.twig' %}

{% block body %}

  <h1>{{ media.nom }} <small>{{ media.created|date('d/m/Y') }}</small></h1>
  <h2>Vote : {{ media.vote }}</h2>

  {% include 'components/block/media.html.twig' with {'media': media} %}

  {{ dump(media) }}
{% endblock %}
