{% extends 'base.html.twig' %}

{% block body %}

  <h1>
    Médias
    {% if app.request.get('_route') == 'populaires' %}
      populaires
    {% elseif app.request.get('_route') == 'recents'%}
      récents
    {% endif %}
  </h1>

  <ul class="medias">
    {% for media in medias %}
      <li class="media">
        {% include 'components/block/media.html.twig' with {'media': media} %}
        {% include 'components/block/vote.count.html.twig' with {'media': media} %}
        {% include 'components/block/vote.button.html.twig' with {'media': media} %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block javascripts %}
  {% include 'components/block/vote.js.html.twig' %}
{% endblock %}
