{% extends 'base.html.twig' %}

{% block body %}

  <h1>{{ media.nom }} <small>{{ media.created|date('d/m/Y') }}</small> <small class="vote-label"> Vote(s)</small>{% include 'components/block/vote.count.html.twig' with {'media': media} %}{% include 'components/block/vote.button.html.twig' with {'media': media} %}</h1>

  <div class="lemedia">
      {% include 'components/block/media.html.twig' with {'media': media} %}
  </div>
  <br>
  <div class="sharethis-inline-share-buttons"></div>
  <br>



{% endblock %}

{% block javascripts %}
  {% include 'components/block/vote.js.html.twig' %}
{% endblock %}
